.fullscreen-container {
  width: 100%;
  background-image: url("/assets/imgs/girl-in-box.jpg");
  background-position: center;
  background-size: cover;
  height: 70%;
  position: fixed;
  top: 8%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}

h1 {
  font-size: var(--h1);
  color: var(--bg-clr);
  font-weight: 600;
  z-index: 10;
  text-align: center;
  line-height: 0;
}

.fullscreen-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
