<div class="advanced-search-section">
  <div class="advanced-search-container">
    <div class="advanced-search-field-box">
      <b><p class="field-title">Enter a location</p></b>
      <app-location-auto-complete-field  (locationChange)="locationAutoCompleteChanged($event)"></app-location-auto-complete-field>
    </div>
    <div class="advanced-search-field-box">
      <b><p class="field-title">Radius</p></b>
      <app-dropdown-field [dropdownValues]="radiusVariations"></app-dropdown-field>
    </div>
    <div class="advanced-search-field-box">
      <b><p class="field-title">Bedrooms</p></b>
      <app-field-menu defaultMenuValue="Any beds" minSubDropdownTitle="Min beds"
      maxSubDropdownTitle="Max beds" [minSubDropdownValues]="minBedVariations"
      [maxSubDropdownValues]="maxBedVariations"></app-field-menu>
    </div>
    <div class="advanced-search-field-box">
      <b><p class="field-title">Price</p></b>
      <app-field-menu defaultMenuValue="Any price" minSubDropdownTitle="Min price"
                      maxSubDropdownTitle="Max price" [minSubDropdownValues]="minForSalePriceVariations"
                      [maxSubDropdownValues]="maxForSalePriceVariations"></app-field-menu>
    </div>
  </div>
</div>
