:host {
  --primary-clr: #35A7FF;
  --secondary-clr: #00243d;
  --bg-clr: #ffffff;
  --text-clr: #4e4e4e;

  --h1: 6.854rem;
  --h2: 4.236rem;
  --h3: 2.618rem;
  --h4: 1.618rem;
  --text: 1rem;

  font-family: "Inter", serif;
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: column;
}

.landing-section {
  position: relative;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.properties-outer {
  width: 80%;
  padding-top: 6%;
  padding-bottom: 6%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  height: 100%;
}


