.search-input {
  height: 45px;
  border-radius: 5px;
  border: 1px solid var(--secondary-clr);
  padding-left: 10px;
  padding-right: 10px;
  font: inherit;
  outline: none;
  flex-grow: 1;
}

.search-input:focus {
  box-shadow: 0 0 1px 2px rgba(53, 167, 255, 0.42);
}

.location-auto-complete-field {
  display: flex;
}
