<div class="individual-property-section">
  <div class="individual-property-container">
    <div class="images-container">
      <img src="assets/imgs/1_1.webp" class="big-image">
      <div class="small-image-container">
        <img src="assets/imgs/1_2.webp" class="small-image">
        <img src="assets/imgs/1_3.webp" class="small-image">
      </div>
    </div>
    <div class="property-info-container">
      <div class="property-title">
        <h1>{{ property.addressLine1 }}, {{ property.postcode }}, {{ property.town }}</h1>
      </div>
    </div>
  </div>
</div>
