.individual-property-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.individual-property-container {
  width: 70%;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 60vh;
  width: 100%;
}

.big-image {
  width: 60%;
  object-fit: cover;
  border-radius: 5px;
  height: calc(100% + 20px);
}

.small-image-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.small-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 50%;
}

