<div class="individual-property-section">
  <div class="individual-property-container">
    <div class="images-container">
      <img [src]="property.images[0].path" class="big-image" alt="primary-image">
      <div class="small-image-container">
        <img [src]="property.images[1].path" class="small-image" alt="secondary-image">
        <img [src]="property.images[2].path" class="small-image" alt="secondary-image">
      </div>
    </div>
    <div class="info-container">
      <div class="title-price-container">
        <h1 class="title-text">{{ property.addressLine1 }}, {{ property.postcode }}, {{ property.town }}</h1>
        <h2 class="price-text">{{ property.priceInPence | currency: "GBP"  : 'symbol' :'1.0-0' }}</h2>
      </div>
      <div class="features-container">
        <div class="feature">
          <p class="feature-text">BEDROOMS</p>
          <div class="property-icon">
            <mat-icon svgIcon="bed"></mat-icon>
            <p>{{ property.numberOfBedrooms }}</p>
          </div>
        </div>
        <div class="feature">
          <p class="feature-text">BATHROOMS</p>
          <div class="property-icon">
            <mat-icon svgIcon="bath"></mat-icon>
            <p>{{ property.numberOfBathrooms }}</p>
          </div>
        </div>
        <div class="feature">
          <p class="feature-text">LIVING ROOMS</p>
          <div class="property-icon">
            <mat-icon svgIcon="couch"></mat-icon>
            <p>{{ property.numberOfLivingRooms }}</p>
          </div>
        </div>
        <div class="feature">
          <p class="feature-text">PARKING</p>
          <div class="property-icon">
            <mat-icon svgIcon="car"></mat-icon>
            <p>{{ property.hasParking ? "Yes" : "No" }}</p>
          </div>
        </div>
      </div>
      <div class="map-container">
        <h2 class="sub-heading">Property area</h2>
        <div class="map">
          <app-google-map [latitude]="property.latitude" [longitude]="property.longitude"></app-google-map>
        </div>
      </div>
    </div>
  </div>
</div>
