.property-search-results-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 3%;
  flex-direction: column;
  gap: 20px;
}

.property-search-results {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  gap: 50px;
}

.property-container {
  width: calc(50% - 25px);
}

.properties-found-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

@media only screen and (max-width: 1600px) {
  .property-search-results, .properties-found-container {
    width: 80%;
  }
}
