a:link {
  text-decoration: none;
}

a {
  color: inherit;
}

.nav-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #ffffff;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.boxShadow {
  box-shadow: 0 1px 10px 0 #e8e8e8;
}

.nav-inner {
  width: 70%;
  position: relative;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-box {
  position: relative;
  width: 11%;
  height: 100%;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: start;
}
.icon-box a img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.icon-box a {
  display: inline-flex;
  align-items: center;
  justify-content: start;
}

.nav-menu-box {
  position: relative;
  width: 89%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 50px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 50px;
}

.nav-list-item {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-clr);
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.nav-list-item:hover {
  color: dimgray;
}

.login-btn {
  position: relative;
  height: 45px;
  width: 125px;
  padding: 5px 5px;
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
  color: var(--secondary-clr);
  border: 2px var(--secondary-clr) solid;
  border-radius: 4px;
  outline: 0;
  overflow: hidden;
  background: none;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.login-btn-fill:hover {
  color: whitesmoke;
}

.login-btn-fill:before {
  content: "";
  position: absolute;
  background: var(--secondary-clr);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.login-btn-fill:hover:before {
  top: 0;
}
