<div class="nav-container" [ngClass]="{'boxShadow': boxShadowEnabled}" id="nav-container">
  <div class="nav-inner">
    <div class="icon-box">
      <a href="#">
        <img alt="EstateScout Logo" src="assets/imgs/EstateScoutLogo.svg"/>
      </a>
    </div>
    <div class="nav-menu-box">
      <ul class="nav-list">
        <li class="nav-list-item" (click)="homeClicked()">Home</li>
        <li class="nav-list-item" (click)="forSaleClicked()">For Sale</li>
        <li class="nav-list-item" (click)="forRentClicked()">For Rent</li>
      </ul>
      <button class="login-btn login-btn-fill">Sign In</button>
    </div>
  </div>
</div>
