<div class="nav-container" [ngClass]="{'boxShadow': boxShadowEnabled}" id="nav-container">
  <div class="nav-inner">
    <div class="icon-box">
      <a href="#">
        <img alt="EstateScout Logo" src="assets/imgs/EstateScoutLogo.svg"/>
      </a>
    </div>
    <div class="nav-menu-box">
      <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">For Sale</a></li>
        <li><a href="#">For Rent</a></li>
      </ul>
      <button class="login-btn login-btn-fill">Sign In</button>
    </div>
  </div>
</div>
