.pre-search-section {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 3%;
}

.pre-search-container {
  width: 70%;
  display: flex;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.couple-painting-img {
  background-image: url("/assets/imgs/couple-painting.jpg");
}

.couple-carrying-sofa-img {
  background-image: url("/assets/imgs/couple-carrying-sofa.jpg");
}

.search-container {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.title-subtitle-container {
  display: flex;
  flex-direction: column;
}

.search-title {
  font-size: var(--h4);
  font-weight: 500;
  margin: 0;
}

.min-max-container {
  display: flex;
  gap: 20px;
}

.min-max-field-box {
  width: 50%;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-fields-container {
  display: flex;
  flex-direction: column;
  gap: 0
}
