<div class="field-menu" [matMenuTriggerFor]="bedMenu">
  <span class="text-clr">{{ fieldMenuStartingValue }}</span>
  <mat-icon fontIcon="arrow_drop_down" style="color: #757575;"></mat-icon>
  <mat-menu #bedMenu="matMenu" class="menu-panel">
    <div class="left-container">
      <b><p class="field-title">{{ leftSubDropdownTitle }}</p></b>
      <app-dropdown-field [dropdownValues]="leftSubDropdownValues"></app-dropdown-field>
    </div>
    <div class="right-container">
      <b><p class="field-title">{{ rightSubDropdownTitle }}</p></b>
      <app-dropdown-field [dropdownValues]="rightSubDropdownValues"></app-dropdown-field>
    </div>
  </mat-menu>
</div>
